

.tab-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding : 1rem;
}

.project-type{
  border: 2px solid transparent;
}


.tab {
  list-style-type: none;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  border-radius : 10rem;
}

.tab:hover {
  cursor: pointer;
}

.project-type{
  border: 2px solid transparent;
  padding: 1.5rem;
}
.project-type:hover{
  border: 2px solid var(--red-color);
  border-radius: 5rem;;
  box-shadow: 0px 5px 30px var(--red-color);
}

.active-tab1 .project-type{
  border : 2px solid transparent;
  transition: all 2s;
}


.active-tab1 .project-type{
  transform: scale(0.8);
  border: 2px solid var(--black-color);
  border-radius: 5rem;
  background-color: var(--red-color);
  color : white;
  box-shadow: 1px 10px 20px var(--red-color);
}


.projects-container {
  padding-top: 5rem;
  border-top: none;
  min-height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: project-slide-up 1s;
}


/*700px*/
@media (max-width: 50em) {
  /* When there are no projects, the minimum height should be atleast 80rem*/
  .projects-container{
    min-height: 80rem;
  }

  /* Reducing the box shadow value when we are on mobile */
  .active-tab1 .project-type{
    border: 2px solid var(--red-color);
    border-radius: 5rem;
    box-shadow: 0px 10px 20px var(--red-color);
  }
}

/* Animations */
@keyframes project-slide-up {

  0%{
    transform: translateY(100px);
  }

  100%{
    transform: translateY(0px);
  }  
}


