.about-me-container {
  display: grid;
  grid-template-columns: 50% 1fr;
}

.grid-left-container {
  padding: 2.4rem;
  /* width: 50%; */
}

.grid-right-container {
  padding: 2.4rem;
}

.heading {
  grid-column: 1/-1;
}

.para {
  font-size: 1.4rem;
  color: var(--grey-color);
  color: #495057;
  line-height: 2;
  margin-bottom: 2rem;
}

/*700px*/
@media (max-width: 43.75em) {
  .about-me-container {
    grid-template-columns: 1fr;
    padding: 5rem;
  }
}
