.top-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Poppins';
}

.contact-me-text-container {
  padding: 3rem;
}

.contact-me-heading {
  font-size: 5rem;
  letter-spacing: -2px;
}

.contact-me-description {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--grey-color);
  margin-bottom: 2rem;
}

.social-media {
  margin-bottom: 2rem;
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.social-media-text {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.icon {
  font-size: 2.6rem;
}

.contact-me-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.contact-me-image {
  height: 46rem;
}

.social-media {
  border: 2px solid transparent;
  border-radius: 10rem;
  display: flex;
  justify-content: left;
  padding-left: 2rem;
  color: black;
  transition: all 1s;
}

.active {
  background-image: linear-gradient(to right, #a3111c, #4f0408);
  color: white ;
  cursor: pointer;
  border: 2px solid var(--red-color);
  box-shadow: 0 10px 30px var(--red-color);
  transform: rotate(-3deg);
}


.social-media:hover {
  background-image: linear-gradient(to right, #a3111c, #4f0408);
  color: white;
  cursor: pointer;
  border: 2px solid var(--red-color);
  box-shadow: 0 10px 30px var(--red-color);
  transform: rotate(-3deg);
}

.social-media-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}



/* 1000px */
@media (max-width : 62.5em){
  .contact-me-image {
    height: 35rem;
    /* background-color: red; */
  }
}
/* 860px */
@media (max-width : 53.75em){

  .top-container{
    grid-template-columns: 1fr;
  }
}

/* 600px */
@media (max-width : 37.5em){
  .contact-me-image{
    height : 25rem;
    transform: translateX(-3rem);
  }
}