.experience-container {
  padding: 2rem;
}

.logo-container {
  display: flex;
  gap: 2rem;
  color: var(--grey-color);
  align-items: center;
  margin-bottom: 1rem;
}

.work-icon {
  font-size: 2rem;
}

.experience {
  display: flex;
  border: 2px solid var(--grey-color);
  border-radius: 10px;
  padding: 2rem;
  transition: all 0.6s;
}

.experience:hover {
  transform: scale(1.01);
  cursor: pointer;
}
