/* 1100px */
@media (max-width: 68.75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 47em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 31.25em) {
  html {
    font-size: 43.75%;
  }
}
